# Add any directories, files, or patterns you don't want to be tracked by version control

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# idea
.idea

#vscode  and so on
.vscode/*
.cache/*
__pycache__/*


# Maven
target/
release.properties
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.tag
pom.xml.next

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/tushareB.iml
.idea/codeStyles/Project.xml


# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS
.DS_Store

# Misc
*.swp
.extract/

.directory
*.log
*.log.*

# Angular5 ignore
node_modules/
package-lock.json

# jooq
src/gen/**
src/generated/**
.idea/workspace.xml
