.classpath
.project
.settings
nbproject
target
logs

*.iml
pom.xml.versionsBackup
/bin
src/main/webapp/views
src/main/webapp/lib
src/test/webapp/lib
src/main/webapp/js/app
sonarReport

node_modules/
coverage/
